{%extends "registration/base.html"%}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Bills</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
<script type="text/javascript" src="http://cdn.uriit.ru/jsPDF/libs/adler32cs.js/adler32cs.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js
"></script>
<script type="text/javascript" src="libs/Blob.js/BlobBuilder.js"></script>
<script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.addimage.js"></script>
<script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.standard_fonts_metrics.js"></script>
<script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.split_text_to_size.js"></script>
<script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.from_html.js"></script>
<script type="text/javascript" src="js/basic.js"></script>
</head>

<body id="target">
    <div class="container">
        {% block content %}
        {% include 'nav.html' %}
        <br>
        {% if messages%}
        {% for message in messages%}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
        {% endfor %}
        {% else %}

        {{order}}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">Upload a File</label>
            <input type="file" name="file" id="">
            <p>Only accepts CSV files</p>
            <button type="submit">Upload</button>


        </form>
        {% endif %}
        {% endblock %}
        <hr>
    </div>
    <button id="cmd">generate PDF</button>

  <script>
    $(function() {
      var doc = new jsPDF();
      var specialElementHandlers = {
        '#editor': function(element, renderer) {
          return true;
        }
      };
      $('#cmd').click(function() {
        doc.fromHTML($('#target').html(), 15, 15, {
          'width': 170,
          'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
      });
    });
    </script>
</body>

</html>