<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <title>Simple is Better Than Complex</title>
      </head>
      
      {% load widget_tweaks %}
      
      <form method="post" novalidate>
        {% csrf_token %}
      
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
      
        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}
      this?
        <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
