{%extends 'all-news/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if customer%}
      <h2 style="color: #fff;">Found {{ customer|length }} of searched term {{message}}</h2>
    {% else %}
      <h2 style="color: #fff;"> Found 0 results for the search term. {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if customers %}
    {% for customer in customers %}
      <div class="col-sm-6 col-md-3">
          <h1 style="color: rgb(146, 226, 247);">{{customer.title}}</h1>
      </div>
      </div>
      <br>
      <div class="row">
          
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">           
              <h4 style="font-style: italic; font-size: 15px; color: #fff;" class="text-left hb">{{customer.details}}</h4>
          </div>
          

    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}