
{% include "nav.html" %}
{% block content %}

   <div class="search-notif">
      {% if projects %}
         <h1>Your search for <span>{{ searched }}</span> returned:</h1>  
      {% else %}
         <h1>There are no search results for <span>{{ searched }}</span></h1>
      {% endif %}
   </div>
   
   <div class="project-pane">
      {% for names in customer %}
         <a href="{% url 'project_view' prjct.id %}">
            <div class="project-card">
               <div class="image">
                  <img src="{{ prjct.img.url }}" alt="{{ prjct.name }}">
               </div>
               <div class="project-desc">
                  <div class="author">
                     <div class="avatar-sm">
                        <img src="{{ prjct.author.avatar.url }}" alt="">
                     </div>
                     <p>{{ prjct.author.user.first_name }} {{ prjct.author.user.last_name }}</p>
                  </div>
                  <h4>{{ prjct.name }}</h4>
                  <div class="languages">
                     {% for lng in prjct.language.all  %}
                       <p>#{{ lng.language }}</p>
                     {% endfor %}
                  </div>

               </div>        
            </div>        
         </a>
      {% endfor %}
   </div>

  
{% endblock content %}
