{%extends "registration/base.html"%}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Bills</title>
</head>

<body>
    <div class="container">
        {% block content %}
        {% include 'nav.html' %}
        <br>
        {% if messages%}
        {% for message in messages%}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
        {% endfor %}
        {% else %}

        {{order}}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">Upload a File</label>
            <input type="file" name="file" id="">
            <p>Only accepts CSV files</p>
            <button type="submit">Upload</button>


        </form>
        {% endif %}
        <hr>
    </div>
</body>

</html>