{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <br>
    <h2>BILL DETAILS</h2>
    <br>
    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">
            <table class="table table-striped table-primary">
                <thead>
                    <tr>
                        <th>Business Name</th>
                        <th>Business Owner</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Revenue Streams</th>
                        <th>Physical_address</th>
                        <th>Town</th>
                        <th>Industry</th>
                        <th>Revenue Streams</th>
                        <th>Join Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details%}

                    <tr>
                        <td>{{detail.id}}</td>
                        <td>{{detail.Business_name}}</td>
                        <td>{{detail.Business_owner}}</td>
                        <td>{{detail.Email}}</td>
                        <td>{{detail.Phone_number}}</td>
                        <td>{{detail.Physical_address}}</td>
                        <td>{{detail.Town}}</td>
                        <td>{{detail.Industry}}</td>
                        <td>{{detail.Revstreams}}</td>
                        <td>{{detail.join_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-1"></div>
        </div>
    </div>

    <style>
        h2 {
            text-align: center;
        }

        body {
            background-image: url('https://wallpapercave.com/wp/wp2164078.jpg');

            overflow-x: hidden;
        }

        .container {
            background-color: #0073b659;
        }
    </style>
    {% endblock %}

</body>

</html>