{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  {% block content %}
  {% include 'indexone.html' %}
  <br>
  <h2 style="text-align: center;">MERCHANT DETAILS</h2>
  <br>
  <div class="row">

    <div class="col-md-1"></div>

        <div class="col-md-10">
            <table class="table table-bordered table-primary">
                <thead>
                    <tr>
                        <th>Merchant Number</th>
                        <th>Business Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Revenue Streams</th>
                        <th>Industry</th>
                        <th>Physical_address</th>
                        <th>Town</th>
                        <th>Join Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details%}

                    <tr>
                        <td>{{detail.id}}</td>
                        <td>{{detail.Business_name}}</td>
                        <td>{{detail.Email}}</td>
                        <td>{{detail.Phone_number}}</td>
                        <td>{{detail.Industry}}</td>
                        <td>{{detail.Revstreams}}</td>
                        <td>{{detail.Physical_address}}</td>
                        <td>{{detail.Town}}</td>
                        <td>{{detail.join_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-1"></div>
        </div>
    </div>
  </div>


  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <style>
    body {
      overflow-x: hidden;
    }

    h2 {
      font-size: 2em;
      font-family: 'Bree Serif', serif;
    }
  </style>
</body>



</html>