{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
  name='viewport' />

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'assets/css/material-dashboard.css?v=2.1.1'%}">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <link href="{% static 'assets/demo/demo.css'%}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'assets/css/material-dashboard.css?v=2.1.1' %}">
</head>

<nav class="nav  navbar-expand-lg  " style="width: auto; background-color: transparent; padding-top: 1em;">
  <!-- <img width="10%" class="navbar-brand" src="https://www.jambopay.com/img/logo.png  "> -->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left:30em">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="color: #000;" class="nav-link " href="{% url 'Index'%}">Home<span class="sr-only">(current)</span></a>
      </li>

      {% if user.is_authenticated %}

      <li>
      <li><a style="color: #000;" class='nav-link' href="/logout">Logout</a>

      </li>
      </li>

      {% else %}
      <li>
        <a style="color: #000;" class='nav-link' href="/accounts/login">Login</a>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>

<style>
  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  nav li a {
    text-transform: capitalize;
    font-family: cursive;
    font-size: 16px;
    text-decoration: none;
  }
</style>