{% load bootstrap4 %}
{% load staticfiles %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
<style>
  .navbar {
    color: white !important;
  }
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:blue;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  
  }
  :root {
  --mainColor: #ffffff;
}
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent 5px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  padding-left: 10px;
  text-decoration: none;
  }
  .sidenav a:hover {
  color: black;
  text-decoration: none;
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
}
  .main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  .circular--square {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
</style>




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




  <div class="pep" style="padding-left: 40px;">
    <!-- <img class="circular--square" src="https://image.flaticon.com/icons/svg/265/265674.svg" /> -->
    <p style="color: black;  font-size: 30px;;">{{ user.username }}</p>
  </div>
  <br>
 
  {% if user.is_authenticated %}

  <!-- <a href="{% url 'addEmployee' %}">ADD EMPLOYEES</a> -->

      {% endif %}

 
</div>



{% endblock %}
