{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div style="background-color:rgba(255, 255, 255, 0.726);" class="col-md-4 form-section">
                {% if form.errors %}
                <p>Some information might be incorrect</p>
                {% endif %}
                <div class="signup-fields">
                    <div class="section">
                        <div class="mylogo">
                        </div>
                        <div class="form-section" id="register">
                            <form method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Sign up">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="section">
                        <p class="log forgot">Have an account? <a href="/accounts/login/">Log in</a></p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <p>Have an account? <span><a class="" href="/accounts/login">Login</a></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <style>
                body{
                    background-image: url('https://wallpapercave.com/wp/wp2164091.jpg');
                    overflow-x: hidden;
                }
            </style>
        {% endblock %}
</body>

