{%extends "registration/base.html"%} {% load bootstrap4 %} {% block content %}
{% include 'nav.html' %}
<hr>
<div class="card  text-white" style="margin-left:20%;margin-right:20%; background-color:#0074b6;">
       
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
      <p style="color:white"></p>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Bills:</h3>
        </div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}
                {% bootstrap_form form%}
                <input type="submit" value="submit" />
            </form>
        </div>
      </div>
      </div>
      </div>
      </div>
      {% endblock %}